# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Testes
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Logs
logs/

# Relatórios
reports/

# Screenshots
screenshots/

# Variáveis
.env

# Sistema
.DS_Store
Thumbs.db

# documentacao estudo
PDD RPA 254905Lançamento de Despesas de Embarque e Exportação (1).docx

# Ignorando (Curso Udemy)
Robos_Diversos
